html {
  scroll-behavior: smooth;
}

body, a {
 color: #161616;
 
}

.visually-hidden {
    color: none;
} 

.card-category {
   display: #D73953;
} 
  
.section-tagline{
color : #D73953;
}